<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331873383917-i57ar9aaa7hn4hl4igok4ihsp1ib0gcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331873383917-i57ar9aaa7hn4hl4igok4ihsp1ib0gcv</string>
	<key>API_KEY</key>
	<string>AIzaSyC2k4RcJAda4ut2Uxlrxrx_iT5L219G9kU</string>
	<key>GCM_SENDER_ID</key>
	<string>331873383917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appDispesas</string>
	<key>PROJECT_ID</key>
	<string>project-dispesas-eafr</string>
	<key>STORAGE_BUCKET</key>
	<string>project-dispesas-eafr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331873383917:ios:d7926b08a3304e0a81e3e4</string>
</dict>
</plist>